html,
body,
div {
  margin: 0;
  box-sizing: border-box;
}

.App {
  margin: 10px;
}

.imageWrapper {
  margin-right: 10px;
  margin-bottom: 10px;
  border: 5px solid black;
  border-radius: 5px;
  display: inline-block;
  background-color: red;
}

/**********************/

.grid {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}
.grid > div {
  width: 50%;
  aspect-ratio: 4 / 5;
  overflow: hidden;
}

.grid2 {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}
.grid2 > div {
  width: 50%;
  aspect-ratio: 1.5;
  overflow: hidden;
}
